/*Tarea.css*/

body{
	
	background-color: lightblue;
	font-family: Cambria;
	
	}
	
	
	h1{
		
		color: red;
		font-family: Arial;
		
		
	}
	
	
	footer{
		
		text-align: center;
		font-size: 8pt;
		border: solid 2px green;
		
		
}
		